# Environment variables for Django

# Keep this secret in production!
DJANGO_SECRET_KEY=sua-chave-super-secreta-aqui

# True para desenvolvimento, False para produção
DJANGO_DEBUG=True

# Hosts separados por vírgula (Ex: 127.0.0.1,localhost,seudominio.com)
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

# Database Configuration
DB_NAME=ENFERMARIA_DB
DB_USER=postgres
DB_PASSWORD=sua-senha-do-banco-aqui
DB_HOST=127.0.0.1
DB_PORT=5432

# Google OAuth Credentials
GOOGLE_CLIENT_ID=seu-google-client-id-aqui
GOOGLE_SECRET=seu-google-secret-aqui
